<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

<!--Top panel-->
<div class="container-fluid m-0 p-0">
    <div class="row bg-dark bg-gradient m-0 p-2">
        <div class="col-11 p-2">
                <span class="text-white h5">
<!--                    <th:block class="font-weight-normal"-->
                    <!--                              th:text="admin.getUsername() + ', with roles: '+ admin.roleToString()">-->
                    <!--                        text-->
                    <!--                    </th:block>-->
                </span>
        </div>
        <div class="col-1 text-white h4">
            <!--            <form th:action="@{/logout}" method="post">-->
            <!--                <input class="btn btn-outline-secondary" type="submit" value="Logout"/>-->
            <!--            </form>-->
        </div>
    </div>
</div>


<!--left-->
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" href="#v-pills-admin" role="tab"
           aria-controls="v-pills-admin" aria-selected="true">Admin</a>
        <a class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab"
           aria-controls="v-pills-user" aria-selected="false">User</a>
    </div>


    <div class="tab-content container-fluid" id="v-pills-tabContent">

        <!--Admin panel-->
        <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
             aria-labelledby="v-pills-admin-tab">
            <h1>Admin panel</h1>
            <div class="card">

                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#table" role="tab"
                               aria-controls="table" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="new-tab" data-bs-toggle="tab" href="#new" role="tab"
                               aria-controls="new" aria-selected="false">New User</a>
                        </li>
                    </ul>
                </div>


                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="table" role="tabpanel"
                         aria-labelledby="table-tab">
                        <h5 class="card-header">All users</h5>
                        <div class="card-body">

                            <!--Table Users-->
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Firstname</th>
                                    <th scope="col">Lastname</th>
                                    <th scope="col">Age</th>

                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="tableAllUsers">

                                </tbody>
                            </table>

                            <div>


                                <!--Modal EDIT starts-->
                                <div class="modal fade" id="modalEdit"
                                     data-bs-backdrop="static"
                                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5">Edit user</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="editForm"
                                                      class="container-fluid mb-2 "
                                                      method="post">
                                                    <div id="modalEditButton" class="d-grid gap-2 col-6 mx-auto text-center">

                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <input type="submit" value="Edit" class="btn btn-primary"
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Modal EDIT ends-->

                                <!--Modal DELETE starts-->
                                <div class="modal fade" id="modalDelete"
                                     data-bs-backdrop="static"
                                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5">Delete user</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="container-fluid mb-2 ">
                                                    <div id="modalDeleteButton" class="d-grid gap-2 col-6 mx-auto text-center">


                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <form method="dialog"
                                                >
                                                    <button class="btn btn-danger" type="submit">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Modal DELETE ends-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--New user starts/-->
        <div class="tab-pane fade" id="new" role="tabpanel"
             aria-labelledby="new-tab">
            <h5 class="card-header">Add new user</h5>
            <div class="card-body text-center">
                <div id="newUserButton" class="form-justify-content-center mx-auto col-4">
<!--                    <form id="formNewUser" name="formNewUser"-->
<!--                          method="POST">-->
<!--                        <p>-->
<!--                            <label class="container-fluid col-6" for="firstName">-->
<!--                                <strong>First Name</strong>-->
<!--                                <input class="form-control" type="text"-->
<!--                                       name="firstName" id="firstName"-->
<!--                                       placeholder="First name">-->
<!--                            </label>-->
<!--                        </p>-->

<!--                        <p>-->
<!--                            <label class="container-fluid col-6" for="lastName">-->
<!--                                <strong>Last Name</strong>-->
<!--                                <input class="form-control" type="text"-->
<!--                                       name="name" id="lastName"-->
<!--                                       placeholder="Last name">-->
<!--                            </label>-->
<!--                        </p>-->

<!--                        <p>-->
<!--                            <label class="container-fluid col-6" for="age">-->
<!--                                <strong>Age</strong>-->
<!--                                <input class="form-control" type="text"-->
<!--                                       name="name" id="age"-->
<!--                                       placeholder="Age">-->
<!--                            </label>-->
<!--                        </p>-->

<!--                        <p>-->
<!--                            <label class="container-fluid col-6" for="username">-->
<!--                                <strong>Email</strong>-->
<!--                                <input class="form-control" type="email"-->
<!--                                       name="username" id="username"-->
<!--                                       placeholder="Email"-->
<!--                                >-->
<!--                            </label>-->
<!--                        </p>-->

<!--                        <p>-->
<!--                            <label class="container-fluid col-6" for="password">-->
<!--                                <strong>Password</strong>-->
<!--                                <input class="form-control password" type="password"-->
<!--                                       name="password" id="password"-->
<!--                                       placeholder="Password">-->
<!--                            </label>-->
<!--                        </p>-->

<!--                        <label class="container-fluid col-6"-->
<!--                               for="my_roles">-->
<!--                            <strong>Role</strong>-->
<!--                            <select id="my_roles" class="form-select"-->
<!--                                    name="roles" multiple size="2">-->
<!--                                &lt;!&ndash;                                <option th:each="role: ${allRoles}" th:value="${role.getId()}">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <th:block th:text="${role.getRoleName()}">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </th:block>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </option>&ndash;&gt;-->
<!--                            </select>-->
<!--                        </label>-->
<!--                        <p>-->
<!--                            <button type="submit" id="newUserButton" class="btn btn-success">Add new user-->
<!--                            </button>-->
<!--                        </p>-->

<!--                    </form>-->
                </div>
            </div>

        </div>
        <!--New user ends/-->

        <!--About user starts-->
        <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
            <h1>User information-page</h1>
            <div class="card">
                <div class="card-header">
                    <h5>About user</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody id="tableOneUser">
                        </tbody>
                    </table>
                </div>
                <!--About user ends-->
            </div>
        </div>
    </div>

</div>
<!--New user ends-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script src="/index.js"></script>
</body>
</html>